body{
  background-color: black;
}

.App{
  background-color: black;
}
/*NAVBAR ------------------------------*/

.Navbar{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  width: auto;
  height: auto;
  align-items: center;
  align-content: center;
  justify-content: space-around;
 
}

.ulNav{
  position: absolute;
  top: 82.5px;
  margin: 0;
  padding: 0;
  display: none;
  justify-content: space-around;
  align-items: center;
  height: calc(100vh - 100px);
  flex-direction: column;
  width: 100%;
  background-color: black;
  z-index: 1000;
}

.liNav{
  list-style: none;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
/* identical to box height */
  letter-spacing: 0.01em;
  color: #E5E5E5;
}

.btn-launch{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 24px 16px;
  gap: 5.4px;
  width: 140px;
  height: 55px;
  background: #FFFFFF;
  border: 1px solid #F986B7;
  border-radius: 200px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
/* identical to box height */
  text-align: center;
  letter-spacing: -0.02em;
  color: #F986B7;
}

.visibility{
  display: flex;
}

#svg-domo2{
  display: inline-block;
  width: 37px;
  height: 35px;
}

#svg-domo{
  width: 156px;
  height: 38px;
}

.liNav:hover{
  border-bottom: 1px solid #E5E5E5 ;
  cursor: pointer;
}


@media (min-width: 900px) { 
  .Navbar{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
   
  }
  
  .ulNav{
    position: unset;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 2rem;
    flex-direction: row;
    align-items: center;
  }
  
  .liNav{
    list-style: none;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
  /* identical to box height */
    letter-spacing: 0.01em;
    color: #E5E5E5;
  }
  
  .btn-launch{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 24px 16px;
    gap: 8px;
    width: 170px;
    height: 68px;
    background: #FFFFFF;
    border: 1px solid #F986B7;
    border-radius: 200px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
  /* identical to box height */
    text-align: center;
    letter-spacing: -0.02em;
    color: #F986B7;
  }

  #svg-domo2{
    display: none;
  }
}

/*CONTAINER 1 ----------------------------*/


#NFTCollection{
  position: absolute;
  width: 195.9px;
  height: 75.048px;
  z-index: 100;
  top: 0;
  left: 0;
}

#svg-glass{
  position: absolute;
  width: 227.1px;
  height: 51px;
  top: 0;
  left: 0;
}

.header{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}



.header-a>h2, h1{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 90%;
  /* or 32px */ 
  text-transform: uppercase;
  color: #FFFFFF;
}

.header-a>p{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  color: #FFFFFF;
}

.header-b{
  position: relative;
  display: flex;
  align-items: center;
}

.regis1{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 1rem;
}

.btn-regis1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px 12px;
  gap: 8px;
  background: linear-gradient(96.53deg, #F5247D 20.39%, rgba(249, 134, 183, 0.92) 93.69%);
  border: 1px solid #F986B7;
  box-shadow: 0px 2px 6px rgba(23, 5, 56, 0.4);
  border-radius: 200px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
/* identical to box height, or 150% */
  letter-spacing: -1px;
  color: #FFFFFF;

}



@media (min-width: 1070px){
  #NFTCollection{
    width: calc(653px * .8);
    height: calc(250.16px * .8); 
    position: absolute;
    z-index: 100;
    top: -100px;
    left: 37px;
  }
  
  #svg-glass{
    position: absolute;
    width: calc(757px * .8);
    height: calc(170px * .8);
    top: -100px;
    left: 0;
  }
  
  .header{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: unset;
    
  }
  
  .header-a>h2, h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 90%;
    /* or 32px */ 
    text-transform: uppercase;
    color: #FFFFFF;
    
  }
  
  .header-a>p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    
  }
}

/*CONTAINER 2 --------------------------*/

.home2{
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
}

.w1{
  background-image: url('./assets/img/Fondo.png');
}
.w2{
  background-image: url('./assets/img/Fondo2.png');
}

.investTag{
  display: inline-block;
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
}

.seeInv{
  display: none;
}

.home2>h1{
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 42px;
/* identical to box height */
  text-align: center;
  letter-spacing: 0.1em;
  background: radial-gradient(164.22% 6353.96% at 134.83% 15.18%, #F986B7 0%, #F5247D 56.46%, #1E2022 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.picture3{
  position: relative;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  height: 200px;
}

#lineimg{ 
  width: 100%;
  position: absolute;
  top: 0;

}

.btn-invesment{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 24px 16px;
  gap: 8px;
  width: 226px;
  height: 55px;
  background: #FFFFFF;
  border: 1px solid #F986B7;
  border-radius: 200px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
/* identical to box height, or 150% */
  text-align: center;
  letter-spacing: -1px;
  color: #F986B7;
}

.btn-property{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 24px 16px;
  gap: 8px;
  width: 256px;
  height: 55px;
  background: #FFFFFF;
  border: 1px solid #F986B7;
  border-radius: 200px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
/* identical to box height, or 150% */
  text-align: center;
  letter-spacing: -1px;
  color: #F986B7;
}

#Image1{
  width: 30%;
  position: absolute;
  right: 0;
  top: 100px;
}


.choose{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.hom1{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.hom1>p{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 16px;
  /* identical to box height, or 80% */ 
  text-align: center;
  letter-spacing: 0.275em;
  text-transform: uppercase;
  color: #E6E6E6;
}

.choose2{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  align-content: center;
}

.choose2>p{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
  width: 389px;
}

.hom2{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  gap: 1rem;
}

.hom2>p{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 16px;
  /* identical to box height, or 80% */ 
  text-align: center;
  letter-spacing: 0.275em;
  text-transform: uppercase;
  color: #E6E6E6;
}

.hom3{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  gap: 1rem;
}

.hom3>p{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 16px;
  /* identical to box height, or 80% */ 
  text-align: center;
  letter-spacing: 0.275em;
  text-transform: uppercase;
  color: #E6E6E6;
}

.choose3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.choose3>h1{
  display: flex;
  align-items: center;
  gap: 1rem;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 48px;
/* or 150% */ 
  text-align: center;
  letter-spacing: -0.055em;
  text-transform: uppercase;
  color: #E6E6E6;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*CONTAINER 2B*/

.propertyTag{
  display: none;
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
}

.home2b>h1{
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 42px;
/* identical to box height */
  text-align: center;
  letter-spacing: 0.1em;
  background: radial-gradient(164.22% 6353.96% at 134.83% 15.18%, #F986B7 0%, #F5247D 56.46%, #1E2022 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.seeProp{
  display: inline-block;
}

/*CONTAINER 3 ---------------------------*/

.home3>h1{
  text-align: center;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
/* identical to box height */
  text-align: center;
  letter-spacing: 0.1em;
  background: radial-gradient(164.22% 6353.96% at 134.83% 15.18%, #F986B7 0%, #F5247D 56.46%, #1E2022 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.cards{
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 24px;
gap: .5rem;
width: 290px;
height: 544px;
/* Gray/100 */
border: 3px solid #E6E6E6;
border-radius: 20px;
}

.CardsUsers{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1rem;
}

#person{
  box-sizing: border-box;
  width: 242px;
  height: 360px;
  /* Neutral/Off White */
  background: #F7F7F7;
  /* Gray/100 */
  border: 3px solid #E6E6E6;
  border-radius: 20px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.cards>h1{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-size: 12px;
  line-height: 16px;
/* identical to box height, or 133% */
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #E6E6E6;
}

.cards>p{
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
/* identical to box height, or 133% */
  text-align: center;
  letter-spacing: -0.01em;
  color: #F986B7;
}

/*CONTAINER 4 ---------------------------*/

.home4{
  position: relative;
}

.home4>p{
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 64px;
  text-align: center;
  color: #FFFFFF;
  padding-bottom: 4rem;
  padding-top: 8rem;
}

.pink2{
  position: absolute;
  width: 1000px;
  height: 53px;
  background: linear-gradient(93.51deg, #6A1B9A 2.84%, #F5247D 99.18%);
  filter: blur(100px);
  border-radius: 10px;
  top: 24rem;
  right: 8rem;
}

.svg4{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/*FOOTER ------------------------------*/


.utility{
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 6rem;
}
.utility>p{
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 64px;
  text-align: center;
  color: #FFFFFF;
  position: absolute;
  top: 13rem;
  
}

.btn-footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 24px 16px;
  gap: 8px;
  background: linear-gradient(96.53deg, #F5247D 20.39%, rgba(249, 134, 183, 0.92) 93.69%);
  border: 1px solid #F986B7;
  box-shadow: 0px 2px 6px rgba(23, 5, 56, 0.4);
  border-radius: 200px;

}

.footer2{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.degree{
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 600px;
  background: linear-gradient(180deg, rgba(30, 32, 34, 0) 0%, rgba(249, 134, 183, 0.5) 100%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.foo{
  box-sizing: border-box;
  width: 20%;
  padding: 1rem;
  text-align: center;
}

.foo>p{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
/* or 150% */
  color: #FFFFFF;
}

.foo>h1{
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -1px;
  text-transform: uppercase;
  color: #F986B7;
}

.footer-crypto{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
